
<button  class="bib_bar_MoreMenu_OptionButton" id="bib_NewTab" data-isMoreMenu="true">
    New tab
</button>
<button  class="bib_bar_MoreMenu_OptionButton" id="bib_NewWindow" data-isMoreMenu="true">
    New window
</button>
<button  class="bib_bar_MoreMenu_OptionButton" id="bib_NewIncognitoTab" data-isMoreMenu="true">
    New incognito tab
</button>
<button  class="bib_bar_MoreMenu_OptionButton" id="bib_History" data-isMoreMenu="true">
    History
</button>
<button  class="bib_bar_MoreMenu_OptionButton" id="bib_Downloads" data-isMoreMenu="true">
    Downloads
</button>
<button  class="bib_bar_MoreMenu_OptionButton" id="bib_Bookmarks" data-isMoreMenu="true">
    Bookmarks
</button>
<button  class="bib_bar_MoreMenu_OptionButton" id="bib_Search" data-isMoreMenu="true">
    Search
</button>
<button  class="bib_bar_MoreMenu_OptionButton" id="bib_MoreTools" data-isMoreMenu="true">
    More tools
</button>
<button  class="bib_bar_MoreMenu_OptionButton" id="bib_Settings" data-isMoreMenu="true">
    Settings
</button>
<button  class="bib_bar_MoreMenu_OptionButton" id="bib_Help" data-isMoreMenu="true">
    Help
</button>