<div class="bib_Bar_TopContainer_Tabs_ActiveTab" id="bib_Bar_TopContainer_Tabs_ActiveTab" data-isTab=true data-isTabHolder=true data-isCloseButton=false>
    <img class="bib_Bar_TopContainer_Tabs_ActiveTabIcon" id="bib_Bar_TopContainer_Tabs_ActiveTabIcon" src="chrome-extension://bmnjikcfffocfnojbdgohamihgpekkml/BibBar/Icons/no-favicon.svg" data-isTab=true data-isTabHolder=false data-isCloseButton=false/>
    <div class="bib_Bar_TopContainer_Tabs_ActiveTabTitle" id="bib_Bar_TopContainer_Tabs_ActiveTabTitle" data-isTab=true data-isTabHolder=false data-isCloseButton=false>
        This is an active tab    
    </div>
    <div class="bib_Bar_TopContainer_Tabs_ActiveTabCloseButton" id="bib_Bar_TopContainer_Tabs_ActiveTabCloseButton" data-isTab=true data-isTabHolder=false data-isCloseButton=true>
        x
    </div>
</div>